---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ProblemSection from '../components/ProblemSection.astro';
import HowItWorks from '../components/HowItWorks.astro';
import PersonasSection from '../components/PersonasSection.astro';
import NormsSection from '../components/NormsSection.astro';
import Testimonials from '../components/Testimonials.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <ProblemSection />
    <HowItWorks />
    <PersonasSection />
    <NormsSection />
    <Testimonials />
    <Pricing />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
